body {
  background-color: gainsboro;
  text-align: center;
  font-family: Arial, "sans-serif";
}

h2 {
  color: rebeccapurple;
}

table {
  border: 2px solid rebeccapurple;
  text-align: left;
  margin: 0 auto;
}
thead {
  background-color: plum;
}
td {
  border-top: 2px solid rebeccapurple;
}
span {
  background-color: white;
}
